<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Modifica auto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>

<div id="titolo">
    <img th:src="@{/images/titleBackground.jpg}" id="sfondoTitolo"/>
    <strong id="pageName">MODIFICA TICKET</strong>
</div>
<p th:if="${error}" th:text="${error}" class="error"></p>

<div class="card">
        <form th:action="@{/ticket}" method="POST">

			<div>
			    <label>Descrizione</label>
			    <input type="text" required th:field="${ticket.description}"/>
			    <span th:if="${#fields.hasErrors('ticket.description')}"
			          th:errors="${ticket.description}" style="color: red;"></span>
			</div>
			<div>
				<label>Stato</label>
				<input type="text" required th:field="${ticket.state}"/>
				<span th:if="${#fields.hasErrors('ticket.state')}"
					  th:errors="${ticket.state}" style="color: red;"></span>
			</div>
			<div>
				<label>Time</label>
				<input type="text" required th:field="${ticket.estimatedTime}"/>
				<span th:if="${#fields.hasErrors('ticket.estimatedTime')}"
					  th:errors="${ticket.estimatedTime}" style="color: red;"></span>
			</div>
			<div>
				<label>Cost</label>
				<input type="number" required th:field="${ticket.cost}"/>
				<span th:if="${#fields.hasErrors('ticket.cost')}"
					  th:errors="${ticket.cost}" style="color: red;"></span>
			</div>
			<div>
			    <label>Auto  id</label>
			    <select name="carId" required>
			        <option value="">-- Seleziona auto --</option>

			        <option th:each="car : ${cars}"
			                th:value="${car.id}"
			                th:text="${car.id + ' - ' + car.plate + ' - ' + car.model}">
			        </option>
			    </select>
			</div>
		

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" style="width: 50%;">Conferma </button>
				<a th:href="@{/admin}" class="btn btn-secondary"> Annulla</a>
            </div>
			

        </form>
    </div>
	
	
	<div class="card">
	    <form th:action="@{/ticketRem}" method="POST">

	        <div>
	            <strong class="sottotitolo">Elimina ticket</strong>
	        </div>

	        <div>
	            <label for="ticketId">Ticket</label>

	            <select id="ticketId" name="ticketId" required>
	                <option value="">-- Seleziona ticket --</option>

	                <option th:each="tik : ${tiks}"
	                        th:value="${tik.id}"
	                        th:text="${tik.id}">
	                </option>
	            </select>
	        </div>

	        <div class="form-actions">
	            <button type="submit" class="btn btn-primary" style="width: 50%;">
	                Conferma
	            </button>

	            <a th:href="@{/admin}" id="login">
	                Back
	            </a>
	        </div>

	    </form>
	</div>

	</body>
	</html>