<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>

<header id="titolo">
    <img th:src="@{/images/titleBackground.jpg}" id="sfondoTitolo"/>
    <strong id="pageName">ADMIN MENU</strong>
</header>

<a th:href="@{/}" id="register">Home</a>


<main>

    <section class="admin-section">

        <h1 class="sottotitolo">👤 UTENTI</h1>

        <div th:each="user : ${users}" class="admin-item">

            <strong>ID</strong>
            <span class="less" th:text="${user.id}"></span>

            &nbsp;&nbsp;

            <strong>NAME</strong>
            <span class="less" th:text="${user.nome}"></span>

            &nbsp;&nbsp;

            <strong>SURNAME</strong>
            <span class="less" th:text="${user.surname}"></span>

            &nbsp;&nbsp;

            <strong>CELLPHONE</strong>
            <span class="less" th:text="${user.cellphone}"></span>

        </div>

    </section>


    <section class="admin-section">

        <h1 class="sottotitolo">🚗 VETTURE</h1>

        <div th:each="car : ${auto}" class="admin-item">

            <strong>ID</strong>
            <span class="less" th:text="${car.id}"></span>

            &nbsp;&nbsp;

            <strong>TARGA</strong>
            <span class="less" th:text="${car.plate}"></span>

            &nbsp;&nbsp;

            <strong>MODELLO</strong>
            <span class="less" th:text="${car.model}"></span>

            &nbsp;&nbsp;

            <strong>PAESE IMM.</strong>
            <span class="less" th:text="${car.country}"></span>

            &nbsp;&nbsp;

            <strong>ID UTENTE</strong>
            <span class="less" th:text="${car.owner.id}"></span>

        </div>

        <a th:href="@{/amm/auto}" class="mod">
            Modifica auto
        </a>

    </section>


    <section class="admin-section">

        <h1 class="sottotitolo">🎫 TICKET</h1>

        <div th:each="ticket : ${tickets}" class="admin-item">

            <strong>ID</strong>
            <span class="less" th:text="${ticket.id}"></span>

            &nbsp;&nbsp;

            <strong>DESCRIZIONE</strong>
            <span class="less" th:text="${ticket.description}"></span>

            &nbsp;&nbsp;

            <strong>STATO</strong>
            <span class="less" th:text="${ticket.state}"></span>

            &nbsp;&nbsp;

            <strong>TEMPO STIMATO</strong>
            <span class="less" th:text="${ticket.estimatedTime}"></span>

            &nbsp;&nbsp;

            <strong>COSTO</strong>
            <span class="less" th:text="${ticket.cost}"></span>

            &nbsp;&nbsp;

            <strong>ID AUTO</strong>
            <span class="less" th:text="${ticket.car.id}"></span>

        </div>

        <a th:href="@{/amm/ticket}" class="mod">
            Modifica ticket
        </a>

    </section>


    <section class="admin-section">

        <h1 class="sottotitolo">🔧 RICAMBI</h1>

        <div th:each="ricambio : ${ricambi}" class="admin-item">

            <strong>ID</strong>
            <span class="less" th:text="${ricambio.id}"></span>

            &nbsp;&nbsp;

            <strong>NOME</strong>
            <span class="less" th:text="${ricambio.nome}"></span>

            &nbsp;&nbsp;

            <strong>PRODUTTORE</strong>
            <span class="less" th:text="${ricambio.producer}"></span>

            &nbsp;&nbsp;

            <strong>IN MAGAZZINO</strong>
            <span class="less" th:text="${ricambio.quantity}"></span>

        </div>

        <a th:href="@{/amm/ricambio}" class="mod">
            Modifica ricambi
        </a>

    </section>

</main>

</body>
</html>
